.wc-ass-wrapper {
    padding: 20px;
    background: #fff;
    border: 1px solid #ddd;
}

.wc-ass-table {
    width: 100%;
    border-collapse: collapse;
}

.wc-ass-table th, .wc-ass-table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}
