.wc-ass-admin h1 {
    margin-bottom: 20px;
}

.wc-ass-admin table.form-table th {
    width: 200px;
    padding-right: 10px;
}

#wc-ass-result {
    margin-top: 20px;
    padding: 10px;
    background: #f7f7f7;
    border: 1px solid #ddd;
}
